nav.sidebar {
  border-top: 1px solid white;
  min-width: 300px;
  background-color: var(--main--main-bg-color);
  padding: 25px;
  height: 100%;
}

nav.sidebar div.ul-title {
  margin: 5px 0;
  color: white;
}

nav.sidebar ul {
  list-style-type: none;
  padding-left: 15px;
}

nav.sidebar .nav-link {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  display: block;
}

nav.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
